body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 20px; 
}

.errors {
  color: red; 
}


.bigDiv {
  margin: 0 auto; 
  text-align: center;  
}

.lilDiv {
  margin: 50px auto; 
  border: 3px solid black;
  border-radius: 5px;
  width: 50%; 
  box-shadow: 10px 10px 54px 28px rgba(171,152,152,1);
}

a {
  color: rgb(190, 49, 49);
  text-decoration: none; 
}
a:visited {
  color: rgb(190, 49, 49); 
}

img {
  border: 3px solid black; 
  border-radius: 5px; 
  width: 90%; 
  height: 100vh; 
  margin: 0 0 50px 0; 
  
}